
body{

margin:0 auto;
padding: 0 auto;

}



#area-login-usuario{

border-bottom:1px solid #324a77;
width:0 auto;
height:200px;


}


#tabela-entrar-usuario{

margin-left:200px;

}


#fonte-cadastro-entrar{

width:150px;
height:30px;
background-color:#fdd31b;
margin-right:20px;
margin-top:5px;
font: 25px 'CoconLight';
color:white;
border:none;
}
#fonte-cadastro-entrar:hover{

background-color:#f9af27;
transition:0.5s;

}

#titulo-cadastro-ounao{

font:20px "CoconLight";
color: #324a77;
float:left;
margin-top:25px;
margin-left:25px;

}

#area-topo{
width:0 auto;
height:400px;
background-color:#324a77;
border-bottom:1px solid darkgrey;

}
#area-topo2{

width:1000px;
height:400px;

}



#esccadastro1{
width:800px;
height:1300px;
margin-top:50px;

}

#cadastro1{
width:800px;
height:300px;
margin-top:50px;
}

#tabela001{

float:right;
margin-top:50px;
margin-right:50px;

}
#autofalante{

margin-top:100px;
margin-left:50px;

float:left;

}
#botaook{

width:800px;
height:200px;
margin-top:100px;

}
#separacao{

width:400px;
height:50px;

}

#separacao2{

width:500px;
height:35px;
font: 20px "CoconLight";
color:#324a77;

}
#interesses{

float:left;

}

#tabela-interesses{

width:500px;
height:200px;
font:15px "CoconLight";
color:#324a77;
}

#img01{

float:left;

}
#img02{

float:right;

}
#img03{

float:left;

}






#escimg01{

float:left;
margin-top:50px;
}



#cadastro2{
width:400px;
height:200px;
margin:50px;

float:left;
}


#esccadastro2{
width:400px;
height:250px;

margin-left:50px;
margin-right:50px;
margin-bottom:50px;
margin-top:75px;
float:left;
}




#esccadastro2b{
width:400px;
height:300px;
margin-left:50px;
margin-right:50px;
margin-top:55px;
float:left;

}



#escimg011{

float:left;
margin-top:50px;
}

#campotexto2senha22{
color:darkgrey;
width:197.5px;
height:30px;
margin-top:5px;
margin-right:2.5px;
float:left;
}

#campotexto2senha{
color:darkgrey;
width:197.5px;
height:30px;
margin-top:5px;
margin-right:2.5px;
float:left;
}
#campotexto2senhaA{
color:darkgrey;
width:197.5px;
height:30px;
margin-top:5px;
margin-right:2.5px;
float:left;
}
#campotexto3senha{
color:darkgrey;
width:197.5px;
height:30px;
margin-top:5px;
margin-left:2.5px;
}
#campotexto3{
color:darkgrey;
width:197.5px;
height:30px;
margin-top:5px;
margin-left:2.5px;
}






#campotexto{
color:darkgrey;
width:100%;
height:30px;
margin-top:5px;
}
#campotexto2{
color:darkgrey;
width:197.5px;
height:30px;
margin-top:5px;
margin-right:2.5px;
float:left;
}

#campotexto4{

color:darkgrey;
width:245px;
height:30px;
margin-top:5px;
margin-right:2.5px;

}
#campotexto5{

width:150px;
height:30px;
margin-top:5px;
margin-left:2.5px;
color:darkgrey;
}
#campotexto41{

color:darkgrey;
width:245px;
height:30px;
margin-top:30px;
margin-right:2.5px;
color:darkgrey;
}
#campotexto51{

width:150px;
height:30px;
margin-top:30px;
margin-left:2.5px;
color:darkgrey;
}
#campotexto10{

width:150px;
height:30px;
margin-top:5px;
margin-left:2.5px;
color:darkgrey;

}
#campotexto6{

width:100%;
height:30px;
margin-top:5px;
color:darkgrey;
}




#fonte-cadastro{

width:250px;
height:50px;
background-color:#fdd31b;
margin-top:50px;
margin-right:20px;
font: 40px 'CoconLight';
color:white;
border:none;
}
#fonte-cadastro:hover{

background-color:#f9af27;
transition:0.5s;

}
#texto-topo{

font: 20px 'CoconLight';
color:white;
float:right;

}
#subtexto-topo{

font: 17px 'CoconLight';
color:white;
float:left;

}


#botaovertodas{

font: 20px 'CoconLight';
width:200px;
height:40px;
margin:5px;
float:right;
background-color:#fdd31b;
border:0;
color:white;
margin-top:100px;
margin-right:100px;
}

#botaovertodas:hover{

background-color:#f9af27;
transition: 0.5s;

}



#area-forma-de-pagamento{

width:1000px;
height:75px;


}
#engloarquadrado{
margin-top:50px;
width:350px;
height:75px;
}
#quadrado01{
width:150px;
height:75px;
border:1px solid #fdd31b;
float:left;

}
#quadrado02{
width:150px;
height:75px;
border:1px solid #fdd31b;
float:right;
}
#boleto{

font:15px "CoconLight";
float:left;
margin-top:25px;
margin-left:10px;
color:#324a77;

}


#separarr2{

width:500px;
height:100px;


}

#sumir{

border:none;
width:0%;
height:0%;

}

