body{
margin: 0 auto;
padding: 0 auto;
}
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||DIVS DA AREA TOPO|||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
#topo{
width: 0 auto;
height: 500px;

}
#area-topo{
width: 0 auto;
height:17%;
background-color:#324a77;
background-image:url("imagens/001.png");
background-position: center  bottom;
background-size: 101% 15px;
background-repeat: no-repeat;

}
#area-topo-logo{
width: 20%;
margin-top:15px;

}

#espaco-titulo-topo{

width:200px;
height:5px;


}



#fonte-titulo-topo-logo{

font: 35px "CoconLight";
color:white;
decoration:none;
text-decoration:none;

}
#fonte-titulo-topo-logo:hover{
transition: .5s;
color:white;
text-shadow:
               0px 0px 10px #fdd31b,
               0px 0px 10px #fdd31b,
               0px 0px 10px #fdd31b,
               0px 0px 10px #fdd31b;

}

#fonte-subtitulo-topo-logo{

font:12.5px "CoconLight";
color:white;
decoration:none;
text-decoration:none;
}

#fonte-subtitulo-topo-logo:hover{
transition: .5s;
color:#FFFFFF;
text-shadow:
               0px 0px 20px #28b2cc,
               0px 0px 20px #28b2cc,
               0px 0px 20px #28b2cc,
               0px 0px 20px #28b2cc;

}




#td-tabela-login{

border-right: 1px solid white;

}

#texto-login{

color:white;
font:90% "CoconLight";/*15px*/
margin-right:5px;
margin-left:5px; 
text-decoration: none;
decoration:none;
border: none;

}

#tabela-login{

position:absolute;
margin-top:2.5%;
margin-left:2.5%;
width:10%;
height:3.5%;

}
#texto-area-topo{
color:white;
font: 95% "CoconLight",CoconLight,CoconLight,CoconLight; 
float:right;
margin-top:-5%;
margin-right:1%;
}
#texto-area-topo2{
color:white;
font: 95% "CoconLight",CoconLight,CoconLight,CoconLight; 
float:right;
margin-top:-2.5%;
margin-right:1%;

}
#icone{
height:10px;
margin-left:10px;
}
#area-banner{
width: 0 auto;
height: 500px;
background-color:darkgrey;
}
#menu-topo{
width: 100%;
height: 60px;
background-color:#324a77;
background-image:url("imagens/002.png");
background-position: center  top;
background-size: 101% 15px;
background-repeat: no-repeat;
z-index:9;

position:fixed;
}
#cssmenu {
  position: relative;
  height: 50px;
  width: 100%;
  float:right;

  }
#cssmenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1;
   
  }
#cssmenu > ul {
  
  
  position: relative;
  display: block;
  width: 100%;
  height:50%;
  z-index: 500;
  background: #324a77;
  margin-top:1.5%;
  }
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-center ul {
  text-align: center;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu > ul > li {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
}
#cssmenu > ul > #menu-button {
  display: none;
}
#cssmenu ul li a {
  display: block;
font-family: 'CoconLight';
  text-decoration: none;
}
#cssmenu > ul > li > a {
  font-size: 90%; /*13px*/
  font-weight: bold;
  padding: 15px 15px; /*17.5px 25px*/ 
  color: white;
  text-transform: uppercase;
  -webkit-transition: color 0.25s ease-out;
  -moz-transition: color 0.25s ease-out;
  -ms-transition: color 0.25s ease-out;
  -o-transition: color 0.25s ease-out;
  transition: color 0.25s ease-out;
}
#cssmenu > ul > li.has-sub > a {
  padding-right: 32px;
}
#cssmenu > ul > li:hover > a {
  color: #fdd31b;
}
#cssmenu li.has-sub::after {
  display: block;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
}
#cssmenu > ul > li.has-sub::after {
  right: 10px;
  top: 20px;
  border: 5px solid transparent;
  border-top-color: #7a8189;
}
#cssmenu > ul > li:hover::after {
  border-top-color: #ffffff;
}
#indicatorContainer {
  position: absolute;
  height: 12px;
  width: 100%;
  bottom: 0px;
  overflow: hidden;
  z-index: -1;
}
#pIndicator {
  position: absolute;
  height: 0;
  width: 100%;
  border: 12px solid transparent;
  border-top-color: #2b2f3a;
  z-index: -2;
  -webkit-transition: left .25s ease;
  -moz-transition: left .25s ease;
  -ms-transition: left .25s ease;
  -o-transition: left .25s ease;
  transition: left .25s ease;
}
#cIndicator {
  position: absolute;
  height: 0;
  width: 100%;
  border: 12px solid transparent;
  border-top-color: #2b2f3a;
  top: -12px;
  right: 100%;
  z-index: -2;
}
#cssmenu ul ul {
  position: absolute;
  left: -9999px;
  top: 70px;
  opacity: 0;
  -webkit-transition: opacity .3s ease, top .25s ease;
  -moz-transition: opacity .3s ease, top .25s ease;
  -ms-transition: opacity .3s ease, top .25s ease;
  -o-transition: opacity .3s ease, top .25s ease;
  transition: opacity .3s ease, top .25s ease;
  z-index: 1000;
}
#cssmenu ul ul ul {
  top: 37px;
  padding-left: 5px;
}
#cssmenu ul ul li {
  position: relative;
}
#cssmenu > ul > li:hover > ul {
  left: auto;
  top: 44px;
  opacity: 1;
}
#cssmenu.align-right > ul > li:hover > ul {
  left: auto;
  right: 0;
  opacity: 1;
}
#cssmenu ul ul li:hover > ul {
  left: 170px;
  top: 0;
  opacity: 1;
}
#cssmenu.align-right ul ul li:hover > ul {
  left: auto;
  right: 170px;
  top: 0;
  opacity: 1;
  padding-right: 5px;
}
#cssmenu ul ul li a {
  width: 130px;
  border-bottom: 1px solid #eeeeee;
  padding: 10px 20px;
  font-size: 12px;
  color: #9ea2a5;
  background: #ffffff;
  -webkit-transition: all .35s ease;
  -moz-transition: all .35s ease;
  -ms-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease;
}
#cssmenu.align-right ul ul li a {
  text-align: right;
}
#cssmenu ul ul li:hover > a {
  background: #f2f2f2;
  color: #8c9195;
}
#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last > a {
  border-bottom: 0;
}
#cssmenu > ul > li > ul::after {
  content: '';
  border: 6px solid transparent;
  width: 0;
  height: 0;
  border-bottom-color: #ffffff;
  position: absolute;
  top: -12px;
  left: 30px;
}
#cssmenu.align-right > ul > li > ul::after {
  left: auto;
  right: 30px;
}
#cssmenu ul ul li.has-sub::after {

  border-left-color: #9ea2a5;
  right: 10px;
  top: 12px;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transition: -webkit-transform 0.2s ease, right 0.2s ease;
}
#cssmenu.align-right ul ul li.has-sub::after {
  border-left-color: transparent;
  border-right-color: #9ea2a5;
  right: auto;
  left: 10px;
}
#cssmenu ul ul li.has-sub:hover::after {
  border-left-color: #ffffff;
  right: -5px;
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
#cssmenu.align-right ul ul li.has-sub:hover::after {
  border-right-color: #ffffff;
  border-left-color: transparent;
  left: -5px;
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
@media all and (max-width: 800px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  #cssmenu {
    width: auto;
  }
  #cssmenu.align-center ul {
    text-align: left;
  }
  #cssmenu.align-right > ul > li {
    float: none;
  }
  #cssmenu ul {
    width: auto;
  }
  #cssmenu .submenuArrow,
  #cssmenu #indicatorContainer {
    display: none;
  }
  #cssmenu > ul {
    height: auto;
    display: block;
  }
  #cssmenu > ul > li {
    float: none;
  }
  #cssmenu li,
  #cssmenu > ul > li {
    display: none;
  }
  #cssmenu ul ul,
  #cssmenu ul ul ul,
  #cssmenu ul > li:hover > ul,
  #cssmenu ul ul > li:hover > ul,
  #cssmenu.align-right ul ul,
  #cssmenu.align-right ul ul ul,
  #cssmenu.align-right ul > li:hover > ul,
  #cssmenu.align-right ul ul > li:hover > ul {
    position: relative;
    left: auto;
    top: auto;
    opacity: 1;
    padding-left: 0;
    padding-right: 0;
    right: auto;
  }
  #cssmenu ul .has-sub::after {
    display: none;
  }
  #cssmenu ul li a {
    padding: 12px 20px;
  }
  #cssmenu ul ul li a {
    border: 0;
    background: none;
    width: auto;
    padding: 8px 35px;
  }
  #cssmenu.align-right ul ul li a {
    text-align: left;
  }
  #cssmenu ul ul li:hover > a {
    background: none;
    color: #8c9195;
  }
  #cssmenu ul ul ul a {
    padding: 8px 50px;
  }
  #cssmenu ul ul ul ul a {
    padding: 8px 65px;
  }
  #cssmenu ul ul ul ul ul a {
    padding: 8px 80px;
  }
  #cssmenu ul ul ul ul ul ul a {
    padding: 8px 95px;
  }
  #cssmenu > ul > #menu-button {
    display: block;
    cursor: pointer;
  }
  #cssmenu #menu-button > a {
    padding: 14px 20px;
  }
  #cssmenu ul.open li,
  #cssmenu > ul.open > li {
    display: block;
  }
  #cssmenu > ul.open > li#menu-button > a {
    color: #fff;
    border-bottom: 1px solid rgba(150, 150, 150, 0.1);
  }
  #cssmenu ul ul::after {
    display: none;
  }
  #cssmenu #menu-button::after {
    display: block;
    content: '';
    position: absolute;
    height: 3px;
    width: 22px;
    border-top: 2px solid #7a8189;
    border-bottom: 2px solid #7a8189;
    right: 20px;
    top: 15px;
  }
  #cssmenu #menu-button::before {
    display: block;
    content: '';
    position: absolute;
    height: 3px;
    width: 22px;
    border-top: 2px solid #7a8189;
    right: 20px;
    top: 25px;
  }
  #cssmenu ul.open #menu-button::after,
  #cssmenu ul.open #menu-button::before {
    border-color: #fff;
  }
   
  
  /* fim do menu do topo*/
}











/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||FIM DIVS DA AREA TOPO|||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||DIVS DA AREA CONTEUDO|||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
#conteudo{
width:1000px;
height:1100px;
margin-top:120px;
}
#conteudo2{
width:1000px;
height:1500px;
margin-top:50px;
}

#conteudo3dentro{

width:1005px;
height:400px;


}
#separar{
width:1000px;
float:left;
height:50px;
}
#montar-passeio{
width: 0 auto;
height: 200px;
background-image:url("imagens/MONTE SEU PACOTE.png");
background-size: 100% 200px;
}
#img-montar-passeio{
width:100%;
height:300px;
}
#fonte-montar-passeio{
font: 30px 'verdana';
color:white;
}
#pacotes-nacionais{
width:1000px;
height:80px;
float:left;
margin-top:20px;
}
#imglogo{
height:40px;
float:left;
margin-top:20px;
}
#hr-esquerdo{
width:45%;
float:left;
margin-top:35px;
margin-right:20px;
}
#hr-direito{
width:45%;
float:left;
margin-top:35px;
margin-left:10px;
}
#fpn01{
width:310px;
height:300px;
float:left;
background-image:url("imagens/img (1).jpg");
background-size: 300px 300px;
background-repeat: no-repeat;
margin-left:30px;
margin-top:60px;
margin-left:20px;
}
#fpn02{
background-image:url("imagens/img (2).jpg");
background-size: 300px 300px;
background-repeat: no-repeat;
margin-left:20px;
margin-top:60px;
width:310px;
height:300px;
float:left;
}

#fpn011{
width:472.5px;
height:300px;
float:left;
background-image:url("imagens/img (1).jpg");
background-size: 472.5px 300px;
background-repeat: no-repeat;
margin-left:30px;
margin-top:80px;
margin-left:20px;
}

#fpn021{
background-image:url("imagens/img (2).jpg");
background-size: 472.5px 300px;
background-repeat: no-repeat;
margin-left:20px;
margin-top:80px;
width:472.5px;
height:300px;
float:left;
}
#espaço-assunto2{
background-color:black;
width:472.5px;
height:100px;
margin-top:175px;
float:left;
opacity: 0.6;
}
#espaço-assunto2:hover{

transition: 0.7s;
opacity:0.9;

}




#fpn03{
background-image:url("imagens/img (3).jpg");
background-size: 300px 300px;
background-repeat: no-repeat;
margin-left:20px;
margin-top:60px;
width:310px;
height:300px;
float:left;
}
#foto{
width:300px;
height:300px;
}
#subfonte-pacotes-n{
font: 20px 'CoconLight';
color:darkgrey;
}
#leia-mais{
margin-top:7px;
float:right;
margin-right:10px;
font: 20px "CoconLight",CoconLight,CoconLight,CoconLight; 
color:white;
}
#leia-mais:hover{
color:#ff9900;
transition: 1s;
}
#espaco-leia-mais{
background-color:#324a77;
width:100px;
height:37px;
float:right;
margin-top:20px;
margin-right:10px;
}
#link{
text-decoration:none;
decoration:none;
color:white;
}
#link:hover{

color:#fdd31b;
transition: 1s;

}



#titulo-da-materia01{

font:25px "CoconLight";
color:white;
float:left;
margin-top:20px;
margin-left:20px;
}

#preco-materia01{

font:20px "CoconLight";
color:white;
float:right;
margin-top:50px;
margin-right:50px;

}

#espaço-assunto{
background-color:black;
width:300px;
height:100px;
margin-top:175px;
float:left;
opacity: 0.6;
}
#espaço-assunto:hover{
transition: 0.7s;
opacity:0.9;
}
#area-montar-passeio{
width:900px;
height:100px;
margin-top:70px;
}
#campo-montar-passeio{
width:210px;
height:40px;
margin:5px;
font: 15px "CoconLight",CoconLight,CoconLight,CoconLight;
opacity:.7; 

}
#campo-montar-passeio2{
width:210px;
height:40px;
font: 25px "CoconLight",CoconLight,CoconLight,CoconLight;
background-color:#fdd31b;
border:0;
color:white;
float:right;
}
#campo-montar-passeio2:hover{

background-color:#f9af27;
transition: 0.5s;

}
#area-cruzeiros{
width:940px;
height:300px;
background-color:red;
float:left;
margin-top:70px;
margin-left:30px;
}
#img-cruzeiros{
width:940px;
height:300px;
}
#hr-esquerdo2{
width:17%;
float:left;
margin-top:35px;
margin-right:10px;
margin-left:15px;
}
#hr-direito2{
width:18%;
float:left;
margin-top:35px;
margin-left:10px;
margin-right:10px;
}
#fonte-pacotes-n{
font: 30px 'CoconLight';
}
#fonte-pacotes-tp{
margin-left:25px;
font: 30px 'CoconLight';
}
#fonte-pacotes-p{
margin-left:125px;
margin-right:220px;
font: 30px 'CoconLight';
}
#fonte-pacotes-v{
font: 30px 'CoconLight';
}
#area-texto{
width:1000px;
height:40px;
float:left;
text-align:left;
}
#fpn04{
width:310px;
height:300px;
float:left;
background-image:url("imagens/img (1).jpg");
background-size: 300px 300px;
background-repeat: no-repeat;
margin-left:30px;
margin-top:20px;
margin-left:20px;
}
#fpn05{
background-image:url("imagens/img (2).jpg");
background-size: 300px 300px;
background-repeat: no-repeat;
margin-left:20px;
margin-top:20px;
width:310px;
height:300px;
float:left;
}
#fpn06{
background-image:url("imagens/img (3).jpg");
background-size: 300px 300px;
background-repeat: no-repeat;
margin-left:20px;
margin-top:20px;
width:310px;
height:300px;
float:left;
}
#area-pacotes{
width:240px;
height:100px;
float:left;
margin-left:5px;
margin-bottom:40px;
}
#area-foto-icone-p{
width:100px;
height:100px;
float:left;
background-image:url("imagens/circulo.png");
background-size: 100px 100px;
}
#iframe-galeria{
width:1000px;
height:400px;
border:none;
}
#texto-area-pacotes{
color:darkgrey;
font: 19px 'CoconLight';
margin-top:30px;
margin-right:45px;
float:right;
}
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*|||||||||||||||||||||||||||||||||||||||FIM DIVS DA AREA CONTEUDO||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||DIVS DA AREA RODAPE|||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

#area-depoimentoewm{


width:0 auto;
height:400px;
margin-bottom:50px;



background: #0095cc; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwOTVjYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzI4YjJjYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMGM5ZGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left,  #0095cc 0%, #28b2cc 50%, #00c9db 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#0095cc), color-stop(50%,#28b2cc), color-stop(100%,#00c9db)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #0095cc 0%,#28b2cc 50%,#00c9db 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #0095cc 0%,#28b2cc 50%,#00c9db 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #0095cc 0%,#28b2cc 50%,#00c9db 100%); /* IE10+ */
background: linear-gradient(to right,  #0095cc 0%,#28b2cc 50%,#00c9db 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0095cc', endColorstr='#00c9db',GradientType=1 ); /* IE6-8 */






}
#area-depoimentoewm2{

width:1000px;
height:400px;


}
#depoimento-fonte{

font:20px "CoconLight";
float:left;

}
#tabela0002191{

float:left;
margin-top:35px;
margin-left:25px;
}
#imagem-balao-areadepoimento{

float:left;
width:550px;
height:300px;


}
#ambiente-video-youtube{

float:right;
width:350px;
height:350px;
background-color:white;
margin-top:25px;
margin-right:20px;

}

#rodape{
width: 0 auto;
height: 590px;
background-color: #324a77;
-webkit-box-shadow: 10px 10px 40px 10px rgba(0, 0, 0,.4);
-moz-box-shadow:    10px 10px 40px 10px rgba(0, 0, 0,.4);
box-shadow:         10px 10px 40px 10px rgba(0, 0, 0,.4);
background-image:url("imagens/001.png");
background-position: center  bottom;
background-size: 101% 15px;
background-repeat:no-repeat;

margin: 0 auto;
padding:0 auto;








}
#rodape2{

width:1000px;
height:590px;

}

#separar-rodape{

width:1000px;
height:50px;
}

#separar-rodape2{

width:900px;
height:25px;
}


#ambiente-contato-rodape{

width:950px;
height:50px;


}
#linha-horizontal-todo-rodape{

width:950px;
height:1px;
background-color:white;

}

#meio-rodape{

width:950px;
height:300px;


}
#pagamento-rodape{
width:950px;
height:50px;

}
#img-blindado{

height:40px;
margin-top:5px;
float:left;

}
#fonte-forma-pagamento{

font:20px "CoconLight";
color:white;
margin-top:12.5px;
margin-left:250px;
float:left;

}
#imagem-icone-cartao-rodape{


width:200px;
margin-top:5px;
float:right;
margin-right:50px;
}
#lado-esquerdo-rodape{

width:250px;
height:250px;
border-right:1px solid white;
float:left;

}
#lado-centro-rodape{

width:250px;
height:250px;
border-right:1px solid white;
float:left;
}
#lado-direito-rodape{

width:430px;
height:250px;
float:right;

}
#ambiente-rodape-baixo{


width:950px;
height:130px;

}

#logo-img-rodape{

height:75px; 
float:left;
margin-top:10px;
margin-left:100px;
}
#logo-img-rodape2{

height:25px; 
float:left;
margin-top:90px;
margin-left:-125px;
}
#fonte-telefone-rodape{

color:white;
font:17.5px "CoconLight";
float:left;
margin-top:10px;
}
#icone-contato-rodape2{
width:17.5px;
margin-left:30px;
margin-right:10px;

}
#ambiente-newsletter{

width:300px;
height:200px;

float:right;


}
#botao_newsletter{

width:100%;
height:40px;

}
#botaoNesletterenviar{

border:none;
font:20px "CoconLight";
background-color:#fdd31b;
color:white;
width:100px;
height:40px;
float:right;
}
#botaoNesletterenviar:hover{
background-color:#ff9900;
transition: .5s;
}
#fonte-rodape-newsletter{

font:20px "CoconLight";
color:white;
float:right;

}
#div-icone-redessociais{

margin-left:5px;
margin-right:5px;
width:40px;
height:40px;
float:right;

}

#img-icone-redessociais{

width:40px;
height:40px;

}
#infor-rodape-agencia{

width:300px;
height:80px;
float:right;
margin-top:30px;


}
#fonte-rodape-baixo-2000{

color:white;
float:right;
font:15px "CoconLight";
}